.wrapper {
  margin-top: 30px;
}

.title {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.title div {
  margin-left: 5px;
}

.content {
  margin-left: 15px;
  border-left: 1px solid rgb(141, 137, 137);
  padding-left: 25px;
}

.content div {
  font-size: 14px;
  margin-bottom: 5px;
}

.content div span {
  font-style: italic;
  color: rgb(173, 171, 175);
}