.wrapper {
  display: flex;
}

.avatar {
  width: 120px;
  height: 120px;
  background: url('./avatar.jpg') center/cover;
  margin-right: 10px;
}

.name {
  font-size: 20px;
}

.job {
  margin: 5px 0;
  font-weight: 700;
  color: rgb(13, 197, 253);
}
